#main_cover{
   background-image: linear-gradient(to left, rgb(0, 177, 153), rgb(2, 103, 185));
   position: absolute;
   top: 0;
   left: 0;
}

#cover-title{
   text-align: center;
   display: inline;
   animation: cursorAnim infinite 1s linear;
   padding-right: 5px;
   padding-left: 5px;
}


@keyframes cursorAnim {
   from {
      border-right: 2px solid white;
   }
   50%{
      border-right: 2px solid white;
   }
   51%{
      border-right: 2px solid transparent;
   }
   to{
      border-right: 2px solid transparent;
   }
 }